.p-header {
  &__title {
    position: relative;
    z-index: 1100;
    a {
      @include hover-action;
    }
  }
  &__nav {
    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color-brown, .9);
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      padding: 60px 5% 0;
      color: $color-white;
      transition-property: opacity visibility;
      transition-duration: .2s;
      transition-timing-function: ease-out;
      .is-activeHamburger & {
        opacity: 1;
        z-index: 1000;
        visibility: visible;
      }
    }
    &__item {
      width: 100%;
      border-bottom: 1px solid $color-brown2;
      &:first-child {
        border-top: 1px solid $color-brown2;
      }
      a {
        display: block;
        padding: 20px 5%;
        background-image: url("../images/common/icon_arrow_white.svg");
        background-size: 20px 5px;
        background-position: center right 5%;
        background-repeat: no-repeat;
        @include hover-action;
      }
      &.--store {
        a {
          text-align: center;
          background-image: none;
          background-color: $color-green;
          img {
            display: inline-block;
            margin-right: 10px;
            width: 17px;
            vertical-align: middle;
          }
        }
      }
      &.--contact {
        a {
          text-align: center;
          background-image: none;
          background-color: $color-brown2;
          img {
            display: inline-block;
            margin-right: 10px;
            width: 17px;
            vertical-align: middle;
          }
        }
      }
    }
    &__inner {
      width: 100%;
      margin-top: 20px;
      .p-header__nav__item {
        border-top: none;
        border-bottom: none;
      }
    }
  }
}

@include media(min, menu) {
  .p-header {
    &__nav {
      &__list {
        flex-direction: row;
        visibility: visible;
        position: static;
        background-color: transparent;
        color: $color-black;
        font-size: 1.5rem;
        font-weight: 700;
        opacity: 1;
        padding: 0;
      }
      &__item {
        width: auto;
        border-bottom: none;
        &:first-child {
          border-top: none;
        }
        a {
          display: block;
          padding: 25px 18px;
          background-image: none;
        }
        &.--store {
          a {
            text-align: center;
            img {
              display: inline-block;
              margin-right: 10px;
              width: 17px;
            }
          }
        }
        &.--contact {
          a {
            text-align: center;
            img {
              display: inline-block;
              margin-right: 10px;
              width: 17px;
            }
          }
        }
      }
      &__inner {
        width: auto;
        margin-top: 0;
        color: $color-white;
        margin-left: 15px;
        font-weight: 500;
      }
    }
  }
}