.p-news-detail {
  padding-top: 40px;
  padding-bottom: 100px;
  &__header {
    &__meta {
      &__date {
        font-size: 1.6rem;
        font-weight: 500;
        margin-right: 5px;
      }
      &__category {
        font-size: 1.2rem;
        font-weight: 500;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        background-color: $color-brown2;
        color: $color-white;
      }
    }
    &__title {
      margin-top: 30px;
      font-size: 2rem;
      font-weight: 500;
    }
  }
  &__body {
    border-top: 1px solid $color-brown3;
    border-bottom: 1px solid $color-brown3;
    padding: 30px 0;
    margin-top: 15px;
    &__text {
      font-size: 1.5rem;
      + .p-news-detail__body__text {
        margin-top: 10px;
      }
    }
    &__image {
      margin: 30px auto 0;
      max-width: 520px;
      figcaption {
        font-size: 1.4rem;
        margin-top: 10px;
        text-align: center;
      }
    }
    &__list {
      margin-top: 30px;
    }
    &__term {
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 30px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    &__description {
      font-size: 1.5rem;
      margin-top: 10px;
    }
  }
  &__footer {
    &__button {
      margin-top: 30px;
    }
  }
}

@include media(min, desk) {
  .p-news-detail {
    padding-top: 80px;
    &__header {
      &__meta {
        &__date {
          font-size: 2rem;
          margin-right: 20px;
        }
      }
      &__title {
        font-size: 2.4rem;
      }
    }
    &__body {
      padding: 60px 0 100px;
      &__text {
        font-size: 1.6rem;
        + .p-news-detail__body__text {
          margin-top: 10px;
        }
      }
      &__image {
        margin: 45px auto 0;
        figcaption {
          margin-top: 15px;
        }
      }
      &__list {
        margin-top: 45px;
      }
    }
  }
}