.p-news-top {
  background-color: $color-gray;
  padding: 0 5% 50px;
  &__inner {
    width: 100%;
    max-width: 960px;
    margin: -40px auto 0;
    padding: 40px 20px;
    background-color: $color-white;
    position: relative;
    z-index: 1;
  }
  &__item {
    margin-top: 30px;
    a {
      @include hover-action;
      display: block;
    }
    &__time {
      font-size: 1.4rem;
      font-weight: 700;
      font-family: $font-en;
      margin-right: 10px;
    }
    &__category {
      font-size: 1.1rem;
      font-weight: 500;
      color: $color-white;
      background-color: $color-green;
      padding: 4px 8px;
    }
    &__text {
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 10px;
    }
  }
  &__button {
    margin-top: 30px;
  }
}

@include media(min, desk) {
  .p-news-top {
    padding: 0 5% 100px;
    &__inner {
      margin: -80px auto 0;
      padding: 80px;
    }
    &__item {
      margin-top: 60px;
    }
    &__button {
      margin-top: 60px;
    }
  }
}

@include media(min, double) {
  .p-news-top {
    &__list {
      column-gap: 60px;
    }
  }
}