.p-pagination {
  margin-top: 100px;
  &__number {
    a {
      width: 40px;
      height: 40px;
      border: 1px solid $color-brown2;
      color: $color-brown2;
      background-color: $color-white;
      font-size: 1.4rem;
      transition-property: color background-color;
      transition-duration: .3s;
      transition-timing-function: ease-out;
      &:hover,
      &:focus {
        color: $color-white;
        background-color: $color-brown2;
      }
      .cls-1 {
        fill: currentColor;
      }
    }
    + .p-pagination__number {
      margin-left: 20px;
    }
    &.--current {
      a {
        color: $color-white;
        background-color: $color-brown2;
        pointer-events: none;
      }
    }
  }
}