.p-thanks {
  padding-top: 50px;
  padding-bottom: 100px;
  &__text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
  }
}

@include media(min, desk) {
  .p-thanks {
    padding-top: 100px;
    &__text {
      margin-top: 60px;
    }
  }
}